*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    place-items: center;
    min-height: 100vh;
}

main{
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e';
    grid-gap: 10px;
    width: 50%;
    margin: auto;
    grid-template-rows: 200px 150px 150px;
    grid-template-columns: 280px;;
}

main div{
    padding: 2em;
    text-align: center;
}

.item-a{
    background-color: orangered;
    grid-area: a;
    
}

.item-b{
    background-color: rgb(245, 157, 26);
    grid-area: b;
}

.item-c{
    background-color: green;
    grid-area: c;
    row-gap: 50px;
}

.item-d{
    background-color: rgb(70, 195, 245);
    grid-area: d;
    row-gap: 50px;
}
.item-e{
    background-color: rgb(70, 195, 245);
    grid-area: e;
    row-gap: 50px;
}